{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block content %}
    <div class="text-center">
        <h2>Home</h2>
        <div class="my-3">
        {% if user.is_authenticated %}
            {% blocktrans with first_name=user.first_name %}
                <p>Bonjour {{ first_name }}! Bienvenue sur votre tableau de bord.</p>
            {% endblocktrans %}
            {% blocktrans %}
                <p>Vous pouvez gérer vos comptes et paramètres ici.</p>
            {% endblocktrans %}
        {% else %}
            <p>Bienvenue, cher visiteur installez vous confortablement !</p>
        {% endif %}
        </div>
        <div class="d-flex justify-content-center gap-2">
            <a class="btn btn-dark" href="{% url 'socialaccount_connections' %}">Paramètres</a>
            <a class="btn btn-primary px-4" href="{% url 'user-list' %}">List of Users</a>
            <a class="btn btn-primary px-4" href="{% url 'user-create' %}">Create a User</a>
        </div>

    </div>
{% endblock %}